.head{position:relative;width:1000px;}
.logo{position:absolute;margin-top:5px;margin-left:150px; }
.bar{position:absolute;margin-top:80px;margin-left:380px;width:900px}
.barword{position:absolute;margin-top:90px;margin-left:380px;width:900px}
.searchbar{position:absolute;margin-left:400px;margin-top:320px;height:30px;  }
.inputbar{height:30px; width:400px;}
.textbar{width:400px; height:30px;  border-color:#2d4b9b;border-width:thin;}
.subbar{ background-image:url(../images/quest.png);height:31px; width:60px; 
         border-top-left-radius:10px;border-top-right-radius:10px; 
         border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
li{list-style-type:none;float:left;margin-left:5px; margin-right:5px; padding-left:5px; padding-right:5px;}
.zt{position:absolute; left:-1000px;}
.sel{ background-color:#2c72cc; padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px;

      border-top-left-radius:10px;border-top-right-radius:10px;}
.unsel{height:60px;padding:10px; background:none; 
       padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px;}
	   	
.log{position:absolute;  height:400px;width:500px; background-color:#FFF; border-width:thin; border-color:#2c72cc; border-style:solid; z-index: +10001;}
.popexit{position:relative; float:right;top:3px; right:3px;}
.popbar{height:30px;background-color:#FFF; border-width:medium; border-color:#2c72cc; border-bottom-style:solid;}
.popback{position:absolute;top:0px; left:0px;z-index:+10000;  background:#333; 
			-webkit-opacity:0.3;/* Firefox, Safari(WebKit), Opera) */ 
			filter: "alpha(opacity=60)"; /* IE 8 */ 
			 -moz-opacity:0.3; /* ff*/ 
			 opacity: 0.3; /* FF3.5ртио */ 
		filter: alpha(opacity=30);/* IE 4-7 */ 
		 }
