.barf{font-size:18px; color:#FFFFFF; text-decoration: none;margin-left:25px;margin-right:25px; font-weight:bold;}
.barf2{font-size:18px; color:#FFFFFF; text-decoration: none;margin-left:15px;margin-right:15px; font-weight:bold;}
.textbar{;font:16px/22px Tahoma, Geneva, sans-serif;}

.subbar{font:18px Tahoma, Geneva, sans-serif;color:#FFFFFF; font-weight:bold; border:#FFFFFF; }
.sel{color:#FFF; font-size:18px; font-weight:bold;}
.unsel{color:#000;font-size:16px;}